body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin_table{
  margin: 5px 50px;
}

.btn-custom{
  width: 100px;
  margin: 20px;
}

.elem{
  width: 95%;
  margin: 10px auto;
}

.elem-center{
  display: flex;
  justify-content: center;
}

.elem-center-h100{
  display: flex;
  justify-content: center;
  height: 120px;
  margin: 5px auto;
}

.elem-wrap{
  display: flex;
  flex-wrap: wrap;
}

