body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textcenter{
text-align: center;
}

.todomain{
  display: flex;
  justify-content: center;  
  width: 400px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
}

.todoelem input{
  margin-right: 15px;
}